[Desktop Entry]
Name=Mirror Selector
Name[es]=Selector de Espejos
Comment=Rank and set XBPS mirrors
Comment[es]=Clasificar y establecer los espejos XBPS
GenericName=Mirror Selector
GenericName[es]=Selector de Espejos
Exec=/usr/share/xrankmirrors/desktop-open.sh
Icon=configurator
Terminal=false
Type=Application
Categories=GNOME;Utility;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=xrankmirrors;mirror;
StartupNotify=true
